.user
	= link_to user.email, user
	[
	= user.created_at
	= "] -"
	= link_to "delete", user, :method => :delete, :confirm => "You sure?", 
						  :title => "Delete #{user.email}", :class => "delete_item"