%p
	%h1(style = "font-size: 200%;")= @user.email
%p
	%table(width = "40%")
		%tr
			%td
				%strong Sign in count:
			%td
				= @user.sign_in_count
		%tr
			%td
				%strong Current sign in at:
			%td
				= @user.current_sign_in_at
		%tr
			%td
				%strong Last sign in:
			%td
				= @user.last_sign_in_at
		%tr
			%td
				%strong Current sign in IP:
			%td
				= @user.current_sign_in_ip
		%tr
			%td
				%strong Created at:
			%td
				= @user.created_at
		%tr
			%td
				%strong Updated at:
			%td
				= @user.updated_at
		%tr
			%td
				%strong Listening?:
			%td
				= @user.listening
		%tr
			%td
				%strong Contact count:
			%td
				= @user.contacts.length