- content_for :javascripts do
	= javascript_include_tag 'iphone-style-checkboxes.js'
- content_for :stylesheets do
	= stylesheet_link_tag 'iphone_style', :media => 'all'
- if user_signed_in?
	- unless current_user.accounts.empty?
		.accounts
			= render @accounts
	= link_to 'Link A Gmail Account', root_url + "oauth/google"
	- if current_user.default_notification_service_id.nil?
		= link_to ' - Add Notifo Account', new_user_notification_service_path(current_user) + "?type=NotifoService"
	- else
		= link_to 'Edit Notifo Account', edit_notifo_service_path(current_user.default_notification_service_id)