.contact(id = "contact#{contact.id}")
	.contact_information
		- if contact.active
			.check_name= contact.email	
		- else
			.check_name_quiet= contact.email
		.right_box
			= activate_contact_box_for contact
		.row
			= link_to '( Delete )', contact, :method => :delete, 
				:remote => true, :class => "delete_item"
