#contact_form
	= form_for current_user.contacts.build(:user_id => current_user.id), :remote => true do |f|
		= render 'shared/error_messages', :object => f.object
		= f.hidden_field :user_id
		#slidefield
			= f.text_field :email, :id => "contact_field"
			= f.submit "Add Contact"
