= form_tag('#', :id => "listForm") do
	= submit_tag('Add to Contacts')
%p
	%h1
		= check_box_tag('checkAll', 'checkAll', false)
		= "#{@emails.length} Accounts:"
		
- @emails.each do |email|
	%p= check_box_tag("contact_#{email}", email, false, :class => 'checklist') + ' ' + label_tag("contact_#{email}", email )