- unless @contacts.empty?
	.contacts
		= render :partial => 'contacts', :locals => { :contacts => @contacts }
	= render 'contact_form'
	= link_to "Add a contact", "#", :id => "slide-toggle"
- else
	.contacts
		= render 'empty'
		= render 'contact_form'
	